@media screen and (max-width:1200px){
    .container {
        max-width: 100%;
        padding: 0 3rem;
    }
}
@media screen and (max-width:980px){
    html,body {
        font-size: 60%;
    }
    header{
        height: 75vh;
    }
    .about-grid{
        grid-template-columns: 1fr;
    }
    .about-grid-item {
        text-align: center;
        margin-top:25rem;

    }
    .process-grid {
        grid-template-columns: repeat(2,1fr);

    }
    .process-grid-item {
        margin-top: 2rem;
    }
    .process-grid-item ion-icon {
        font-size: 8rem;
        margin-top: 9rem;
        margin-bottom: 2rem;
        color: #ffff;
      
    }
    .work-grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 0.9rem;
    }
@media screen and (max-width:560px){
    html, body {
        font-size: 55%;
    }
    .ex-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .ex-grid-items {
        width: 100%;
        background: rgba(170, 5, 5, 0.534);
        color: #ffffff;
        margin-top:1rem ;
        text-align: left;
        margin-right: 2rem;
        padding-left: 1rem;
    }
    .sign-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:1rem;
    }
    .signe img {
        
        width: 0%;
    }
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
} 
@media screen and (max-width:480px){
    html, body {
        font-size: 50%;
    }
    nav.uk-sticky-fixed .logo img {
        margin-top: -6rem;
        
    }

}
 @media screen and (max-width:420px){
    html, body {
        font-size: 45%;
    }
    nav.uk-sticky-fixed .logo img {
        margin-top: -7rem;
        
    }
}
@media screen and (max-width:395px){
    html, body {
        font-size: 40%;
    }
    nav.uk-sticky-fixed .logo img {
        margin-top: -8rem;
        
    }
}
@media screen and (max-width:360px){
    html, body {
        font-size: 35%;
    }
    nav.uk-sticky-fixed .logo img {
        margin-top: -9rem;
        
    }
    nav.uk-sticky-fixed .menu ion-icon {
        top: 0;
    
    }
}
@media screen and (max-width:320px){
    html, body {
        font-size: 30%;
    }
    nav .logo img {
        position: absolute;
    }
    nav.uk-sticky-fixed .logo img {
        margin-top: -11rem;
        
    }
} 
